.taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  line-height: 15px;
  border-bottom: 1px solid var(--color-blue);
  padding: 10px;
  margin-top: 10px;

  transition: all 0.3s ease;
}

.taskCompleted {
  text-decoration: line-through;
}

.checkButton {
  width: 15px;
  height: 15px;
}
