/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/MenuItem/MenuItem.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.MenuItem_menuItem__rqifA {
  position: relative;
}

.MenuItem_btnShowMenu__ueLnr {
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.MenuItem_menuItem__rqifA img {
  filter: invert(50%) sepia(73%) saturate(369%) hue-rotate(161deg)
    brightness(79%) contrast(89%);
}

.MenuItem_optionsContainer__ve_EN {
  position: absolute;
  width: 100px;
  background-color: var(--color-white);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.MenuItem_optionsContainer__ve_EN button {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  color: var(--color-blue);
  background-color: var(--color-white);
  cursor: pointer;
}

.MenuItem_optionsContainer__ve_EN button:hover,
.MenuItem_optionsContainer__ve_EN button:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}

@media (max-width: 600px) {
  .MenuItem_optionsContainer__ve_EN {
    position: absolute;
    top: 25px;
    left: -90%;
    width: 80px;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/TaskDescription/TaskDescription.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.TaskDescription_inputTask__joc0X {
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

.TaskDescription_btn__uOO4y {
  border: none;
  border-radius: 10px;
  color: var(--color-white);
  font-weight: bold;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.TaskDescription_btn__uOO4y:hover {
  color: rgb(91, 91, 91);
}

.TaskDescription_btnSave__tl7Di {
  background-color: var(--color-green);
}

.TaskDescription_btnSave__tl7Di:hover {
  background-color: var(--color-light-green);
}

.TaskDescription_btnCancel__Zei8P {
  background-color: var(--color-red);
}

.TaskDescription_btnCancel__Zei8P:hover {
  background-color: var(--color-light-red);
}

@media (max-width: 599px) {
  .TaskDescription_inputTask__joc0X {
    width: 80px;
  }
  .TaskDescription_btn__uOO4y {
    padding: 10px 10px;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/Task/Task.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************/
.Task_taskItem__U7HMq {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  line-height: 15px;
  border-bottom: 1px solid var(--color-blue);
  padding: 10px;
  margin-top: 10px;

  transition: all 0.3s ease;
}

.Task_taskCompleted__pYJhr {
  text-decoration: line-through;
}

.Task_checkButton__ZXJEn {
  width: 15px;
  height: 15px;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/ToDoList/ToDoList.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.ToDoList_taskListContainer___ajJx {
  width: 350px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px 0;
  margin-bottom: 50px;
}

.ToDoList_taskList__n6_bS {
  list-style: none;
  padding: 15px;
}

.ToDoList_listEmpty__8ICYB {
  font-size: 1.5rem;
  margin: 50px;
}

@media (min-width: 600px) {
  .ToDoList_taskListContainer___ajJx {
    width: 750px;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/AddTaskForm/AddTaskForm.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.AddTaskForm_taskForm__r3MsZ {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 350px;
  min-width: 350px;
  max-width: 750px;
  height: 100px;
  min-height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.AddTaskForm_inputTask__YAwuh {
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

.AddTaskForm_addTaskButton__mkp0z {
  min-width: 50px;
  max-width: 150px;
  height: 40px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;

  transition: background-color 0.3s ease;
}

@media (min-width: 600px) {
  .AddTaskForm_taskForm__r3MsZ {
    width: 750px;
    height: 150px;
  }

  .AddTaskForm_addTaskButton__mkp0z:hover {
    background-color: var(--color-light-blue);
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/project/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_main__KfKRy {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-blue);
  background-color: var(--color-light-blue);
  padding-top: 10rem;
}

