/*!*************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/components/MenuItem/MenuItem.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************/
.MenuItem_menuItem__rqifA {
  position: relative;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.MenuItem_menuItem__rqifA img {
  filter: invert(50%) sepia(73%) saturate(369%) hue-rotate(161deg)
    brightness(79%) contrast(89%);
}

.MenuItem_optionsContainer__ve_EN {
  position: absolute;
  width: 100px;
  background-color: var(--color-white);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.MenuItem_optionsContainer__ve_EN button {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  color: var(--color-blue);
  background-color: var(--color-white);
  cursor: pointer;
}

.MenuItem_optionsContainer__ve_EN button:hover,
.MenuItem_optionsContainer__ve_EN button:focus {
  color: var(--color-white);
  background-color: var(--color-blue);
}

@media (max-width: 600px) {
  .MenuItem_optionsContainer__ve_EN {
    position: absolute;
    left: -100%;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/project/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_main__KfKRy {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-blue);
  background-color: var(--color-light-blue);
  padding-top: 10rem;
}

.page_taskForm__z3xU2 {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 350px;
  min-width: 350px;
  max-width: 750px;
  height: 100px;
  min-height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.page_inputTask__IwU6i {
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

.page_addTaskButton__nAHAA {
  min-width: 50px;
  max-width: 150px;
  height: 40px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.page_taskListContainer____f5t {
  width: 350px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px 0;
}

.page_taskList__ccD9y {
  list-style: none;
  padding: 50px;
}

.page_taskItem__V_WIW {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  line-height: 15px;
  border-bottom: 1px solid var(--color-blue);
  padding: 10px;
  margin-top: 10px;

  transition: all 0.3s ease;
}

.page_taskCompleted__5W4MK {
  text-decoration: line-through;
}

.page_checkButton__o4QZ4 {
  width: 15px;
  height: 15px;
}

.page_listEmpty__ZvvS9 {
  font-size: 1.5rem;
  margin: 50px;
}

@media (min-width: 600px) {
  .page_taskForm__z3xU2 {
    width: 750px;
    height: 150px;
  }

  .page_addTaskButton__nAHAA:hover {
    background-color: var(--color-light-blue);
  }

  .page_taskListContainer____f5t {
    width: 750px;
  }
}

