/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_main__ibFHK {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.page_button__unFcb {
  min-width: 300px;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 15px 20px;
}

.page_portfolio__vvXZl {
  color: hsl(180, 100%, 20%);
  background-color: hsl(180, 100%, 60%);
  border: 2px solid hsl(180, 100%, 20%);

  transition: background-color 0.3s ease;
}

.page_portfolio__vvXZl:hover,
.page_portfolio__vvXZl:focus {
  background-color: hsl(180, 100%, 45%);
}

.page_project__eat8u {
  color: hsl(180, 10%, 40%);
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(180, 10%, 40%);

  transition: background-color 0.3s ease;
}

.page_project__eat8u:hover,
.page_project__eat8u:focus {
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 90%);
}

