/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[13].use[3]!./src/app/globals.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
:root {
  --color-blue: #4180ab;
  --color-white: #ffffff;
  --color-light-blue: #8ab3cf;
  --color-gray: #bdd1de;
  --color-light-gray: #e4ebf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

