:root {
  --color-blue: #4180ab;
  --color-white: #ffffff;
  --color-light-blue: #8ab3cf;
  --color-gray: #bdd1de;
  --color-light-gray: #e4ebf0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
