.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.button {
  min-width: 300px;
  max-width: 300px;
  text-align: center;
  border-radius: 10px;
  padding: 15px 20px;
}

.portfolio {
  color: hsl(180, 100%, 20%);
  background-color: hsl(180, 100%, 60%);
  border: 2px solid hsl(180, 100%, 20%);

  transition: background-color 0.3s ease;
}

.portfolio:hover,
.portfolio:focus {
  background-color: hsl(180, 100%, 45%);
}

.project {
  color: hsl(180, 10%, 40%);
  background-color: hsl(0, 0%, 100%);
  border: 2px solid hsl(180, 10%, 40%);

  transition: background-color 0.3s ease;
}

.project:hover,
.project:focus {
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 90%);
}
