.main {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-size: 1.2rem;
  color: var(--color-white);
  background-color: var(--color-light-blue);
  padding-top: 10rem;
}

.button {
  min-width: 330px;
  max-width: 330px;
  text-align: center;
  border-radius: 10px;
  padding: 15px 20px;
  text-decoration: none;
  color: var(--color-white);
  background-color: var(--color-blue);

  transition: background-color 0.3s ease;
}

.button:hover,
.button:focus {
  animation-name: pulse;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
