.main {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-blue);
  background-color: var(--color-light-blue);
  padding-top: 10rem;
}
