.main {
  display: flex;
  gap: 50px;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-blue);
  background-color: var(--color-light-blue);
  padding-top: 10rem;
}

.taskForm {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 350px;
  min-width: 350px;
  max-width: 750px;
  height: 100px;
  min-height: 100px;
  max-height: 150px;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.inputTask {
  height: 40px;
  padding: 0 10px;
  border: 1px solid var(--color-gray);
  border-radius: 10px;
}

.addTaskButton {
  min-width: 50px;
  max-width: 150px;
  height: 40px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  color: var(--color-white);
  background-color: var(--color-blue);
  cursor: pointer;

  transition: background-color 0.3s ease;
}

.taskListContainer {
  width: 350px;
  text-align: center;
  border-radius: 10px;
  background-color: var(--color-white);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px 0;
  margin-bottom: 50px;
}

.taskList {
  list-style: none;
  padding: 15px;
}

.taskItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.5rem;
  line-height: 15px;
  border-bottom: 1px solid var(--color-blue);
  padding: 10px;
  margin-top: 10px;

  transition: all 0.3s ease;
}

.taskCompleted {
  text-decoration: line-through;
}

.checkButton {
  width: 15px;
  height: 15px;
}

.listEmpty {
  font-size: 1.5rem;
  margin: 50px;
}

@media (width >= 600px) {
  .taskForm {
    width: 750px;
    height: 150px;
  }

  .addTaskButton:hover {
    background-color: var(--color-light-blue);
  }

  .taskListContainer {
    width: 750px;
  }
}
